[submodule "ArduinoAlarm/usb-serial-for-android"]
	path = ArduinoAlarm/usb-serial-for-android
	url = git@github.com:333fred/usb-serial-for-android.git
[submodule "ArduinoAlarm/forecastio-lib-java"]
	path = ArduinoAlarm/forecastio-lib-java
	url = git@github.com:333fred/forecastio-lib-java.git
